body { padding: 0; margin: 0; color: #343434; font-family: "Helvetica Neue", Helvetica; background: #fff; }
a { 	color: #369; outline: none; text-decoration: underline; }
a:hover { text-decoration: none; }
img{ border: 0; vertical-align: middle; }
input { outline: none; vertical-align: middle; }
h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset { border: 0; margin: 0; padding: 0; list-style-type: none; }
h1, h2, h3, h4, h5, h6 { color: #000; font-weight: 700; text-decoration: none; }
h1{font-size: 130%;} h2{font-size: 120%;} h3{font-size: 110%;} h4{font-size: 100%;} h5{font-size: 90%;} h6{font-size: 80%;}

.wrap { }
.center { text-align: center; }
.inner { width: 1200px; margin: 0 auto; position: relative; }

.header { color: #fff; padding:0 0 20px;}
.header-line { background: #D63030; overflow: hidden;}
.header h1 { float: left; padding: 8px 20px 0 20px;}
.header .logo { width: 80px; height: 38px; display: block; background: url(../img/logo.png) no-repeat 0 0; background-size: 80px 38px; text-indent: -10000px; }
.header .sign { float: right; overflow: hidden; }
.header .sign li { line-height: 49px; text-transform: uppercase; float: right; padding: 0 30px 0 10px; }
.header .nav { float: left; padding-left: 40px; }
.header .nav li { line-height: 49px; padding: 0 25px 0 0; text-transform: uppercase; display: inline-block;  }
.header .sign li a,
.header .nav li a { color: #fff; font-size: 14px; text-decoration: none; }
.header .sign li a:hover,
.header .nav li a:hover { text-decoration: underline; }

.content { font-size: 16px; line-height: 24px; padding: 0;  }

ul.dishes { width: 100%; overflow: hidden; }
ul.dishes>li { height: 399px; width: 399px; margin: 0 1px 1px 0; float: left; overflow: hidden; position: relative; }
ul.dishes>li img { height: 100%; width: auto; }
ul.dishes>li div.hover { display: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%; background: rgba(255,255,255,0.7); }
ul.dishes>li:hover div.hover { display: block; }
ul.dishes>li { font-family: 'Lato', sans-serif; text-align: center; text-transform: uppercase; }
ul.dishes>li h4 { color: #cc0000; font-size: 30px; font-weight: 400; padding: 20px 0 20px; }
ul.dishes ul { width: 305px; margin: 0 auto; }
ul.dishes ul li { line-height: 50px; border-top: solid 1px #000; }
ul.dishes ul li:first-child { line-height: 36px; text-align: left; border-top: none; padding: 20px 0 20px; }
ul.dishes span.price { color: #000; font-size: 30px; font-weight: 300;  }
ul.dishes a.resto { color: #000; font-size: 18px; text-transform: none; text-decoration: none;  bottom: 10px; left: 15px; position: absolute; display: block; padding: 10px 0 10px 35px; background: url(../img/map-icon.png) no-repeat 0 5px; }
ul.dishes a.resto:hover { color: #f30; background-position: 0 -63px; }
ul.dishes a.purchase { color: #fff; font-size: 14px; text-decoration: none; padding: 0 15px; float: right; line-height: 36px; background: #c00; }
ul.dishes a.purchase:hover { background: #b00; }
ul.dishes a.like { color: #000; text-decoration: none; padding-left: 40px; display: inline-block; background: url(../img/icons.png) no-repeat -10px 4px; }
ul.dishes a.like:hover { color: #cc0000; background-position: -10px -56px;}
ul.dishes .social {  }
ul.dishes .social a { display: inline-block; line-height: 33px; width: 35px; height: 35px; margin: 10px 5px; background: url(../img/icons.png) no-repeat 50% 0; }
ul.dishes .social a.fb { background-position: 50% -115px; }
ul.dishes .social a.fb:hover { background-position: 50% -177px; }
ul.dishes .social a.tw { background-position: 50% -242px; }
ul.dishes .social a.tw:hover { background-position: 50% -305px; }
ul.dishes .social a.pt { background-position: 50% -386px; }
ul.dishes .social a.pt:hover { background-position: 50% -452px; }

.dish { padding: 80px 40px; position: relative; }
.dish-info { font-family: 'Lato', sans-serif; float: right; width: 360px; margin: 0 0 0 0; }
.dish-image-cont { margin-right: 380px; }
.dish-image { text-align: center; overflow: hidden; }
.dish-image img { max-width: 100%; }
.dish-info h2 { font-size: 25px; font-weight: 300; line-height: 41px; margin: -9px 0 0; }
.dish-info p { color: #999; font-size: 16px; line-height: 22px;}
.dish-info .price { padding: 20px 0; line-height: 43px; }
.dish-info .price span { font-size: 26px; font-weight: 300; }
.dish-info .price a { color: #fff; font-size: 22px; text-decoration: none; text-transform: uppercase; padding: 0 15px; float: right; line-height: 43px; background: #c00; }
.dish-info .price a:hover { background: #b00; }
.dish-info .resto { color: #000; font-size: 18px; text-transform: none; text-decoration: none;  display: block; padding: 10px 0 10px 0;}
.dish-info .resto:hover { color: #cc0000; }
.dish-info .resto i { font-size: 34px; margin-right: 10px;}
.dish-social { position: absolute; right: 420px; top: 30px; }
.dish-social a { margin-right: 5px; }
.dish-social i { background: #fff; color: #c00; font-size: 45px;}
.dish-social i:hover { color: #555; }
.fa-heart-o:hover { color: #555; }
.fa-heart.active { color: #c00 !important;}
.dish-social .fa-facebook-square { color: #3b5998; }
.dish-social .fa-facebook-square:hover { color: #23407e; }
.dish-social .fa-twitter-square { color: #3399cc;}
.dish-social .fa-twitter-square:hover { color: #1f739d;}
.dish-social .fa-pinterest-square { color: #c70c0c;}
.dish-social .fa-pinterest-square:hover { color: #a40e0e;}

.rest { padding: 0 40px 40px; position: relative; }
.rest-info { color: #828181; font-family: 'Lato', sans-serif; position: fixed; left: 50%; width: 360px; margin: 0 0 0 210px; padding: 40px 0 0;}
.rest-images-cont { margin-right: 380px; padding: 40px 0 0; }
.rest-images { text-align: center; overflow: hidden; }
.rest-images>li { width: 240px; height: 240px; margin: 0 1px 1px 0; overflow: hidden; float: left; position: relative}
.rest-images>li img { height: 100%; width: auto; }
.rest-images>li div.hover { display: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%; background: rgba(255,255,255,0.8); }
.rest-images>li:hover div.hover { display: block; }
.rest-images>li { font-family: 'Lato', sans-serif; text-align: center; text-transform: uppercase; }
.rest-images>li h4 { color: #cc0000; font-size: 20px; font-weight: 400; padding: 10px 0; }
.rest-images ul { width: 200px; margin: 0 auto; }
.rest-images ul li { line-height: 30px; border-top: solid 1px #000; }
.rest-images ul li:first-child { line-height: 20px; text-align: left; border-top: none; padding: 10px 0 10px; }
.rest-images span.price { color: #000; font-size: 16px; font-weight: 300;  }
.rest-images a.resto { color: #000; font-size: 10px; text-transform: none; text-decoration: none;  bottom: 5px; left: 8px; position: absolute; display: block; padding: 0 0 5px 18px; background: url(../img/map-icon-small.png) no-repeat 0 2px; }
.rest-images a.resto:hover { color: #f30; background-position: 0 -32px; }
.rest-images a.purchase { color: #fff; font-size: 10px; text-decoration: none; padding: 0 15px; float: right; line-height: 20px; background: #c00; }
.rest-images a.purchase:hover { background: #b00; }
.rest-images a.like { line-height: 50px; color: #000; text-decoration: none; padding-left: 40px; display: inline-block; background: url(../img/icons.png) no-repeat -10px 4px; }
.rest-images a.like:hover { color: #cc0000; background-position: -10px -56px;}
.rest-images .social {  }
.rest-images .social a { display: inline-block; line-height: 33px; width: 35px; height: 35px; margin: 10px 5px; background: url(../img/icons.png) no-repeat 50% 0; }
.rest-images .social a.fb { background-position: 50% -115px; }
.rest-images .social a.fb:hover { background-position: 50% -177px; }
.rest-images .social a.tw { background-position: 50% -242px; }
.rest-images .social a.tw:hover { background-position: 50% -305px; }
.rest-images .social a.pt { background-position: 50% -386px; }
.rest-images .social a.pt:hover { background-position: 50% -452px; }
.rest-info h2 { font-size: 25px; font-weight: 300; line-height: 41px; margin: -9px 0 20px; }
.rest-info p { color: #999; font-size: 16px; line-height: 22px;}
.rest-info .address { color: #c00; padding: 10px 0 30px;}
.rest-info .worktime { padding: 0 0 30px;}
.rest-info .worktime a,
.rest-info .phone a { color: #c00; text-decoration: none; }
.rest-info .worktime a:hover,
.rest-info .phone a:hover { text-decoration: underline; }

.footer { font-size: 12px; text-align: center; padding: 20px 0 80px; }
.footer-line { background: #000; position: relative; }
.footer-line .logo { position: absolute; top: 4px; left: 20px; width: 91px; height: 43px; display: block; background: url(../img/logo_btm.png) no-repeat 0 0; background-size: 91px 43px; text-indent: -10000px; }
.footer .nav { text-align: right; }
.footer .nav li { line-height: 50px; display: inline; padding: 0 30px 0 10px;}
.footer .nav li a { color: #fff; font-size: 12px; text-transform: uppercase; text-decoration: none; }
.footer .nav li a:hover,
.footer .nav li a.active { color: #f30; }
.footer .copy { padding: 20px 0; }

